doctype html
html
  include head.pug
  body
    div.reveal
      div.slides
        include slides.pug

    include scripts.pug

    //- Settings for master
    script.
      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        history: true,
        slideNumber: 'c/t',
        showSlideNumber: true,
        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
          { src: 'plugin/markdown/marked.js' },
          { src: 'plugin/markdown/markdown.js' },
          { src: 'plugin/notes/notes.js', async: true },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() {
            hljs.initHighlightingOnLoad();
          } }
        ]
      });

